---
import Layout from '../../layouts/Layout.astro'
---

<Layout>
  <main>
    <h1>快速建立 Python 環境的小工具</h1>
    <p>這是一個我自己平常在寫程式會用的小工具，希望能幫助你更快建立乾淨的虛擬環境。</p>
    
    <h2>🛠 工具介紹</h2>
    <ul>
      <li>🧱 自動建立虛擬環境 (.venv)</li>
      <li>📦 自動安裝 requirements.txt 的依賴</li>
      <li>🔄 有開啟API版的和普通只快速建立並開啟環境的</li>
      <li>🖱 只要雙擊 bat 檔案即可快速開啟</li>
    </ul>

    <h2>📥 下載</h2>
    <p>
      <a href="/tools/api_launcher.zip" download>(API版本)下載 bat 工具包</a>
      <a href="/tools/init_venv.zip" download>(普通虛擬環境版)下載 bat 工具包</a>
    </p>

    <h2>📄 README</h2>
    <pre><code>這是一個可以快速建立並安裝環境的小東西
我平常在寫程式都會使用這個快速的建立和測試環境
希望他能對你有所幫助
需要有先裝 Python 並加入 Path 環境變數中
雙擊 bat 檔案即可快速開啟
txt 檔案可放入你預計會使用的套件，會自動檢查並安裝
有任何問題歡迎聯絡我：nelaon930627@gmail.com</code></pre>

    <h2>📬 聯絡方式</h2>
    <p>信箱：<code>nelaon930627@gmail.com</code></p>
  </main>
</Layout>
