---
// src/pages/log/[slug].astro
import Layout from '../../layouts/Layout.astro'
import { getPosts } from '../../utils/getPosts.ts'

export async function getStaticPaths() {
  const posts = await getPosts()
  return posts.map((post) => ({
    params: { slug: post.slug }
  }))
}

const { slug } = Astro.params
const posts = await getPosts()
const post = posts.find(p => p.slug === slug)

if (!post) throw new Error(`找不到 slug: ${slug}`)
---

<Layout>
  <h1>{post.frontmatter.title}</h1>
  <p style="font-size: 0.8rem; color: #888;">
    {
      new Date(post.frontmatter.date).toLocaleDateString('zh-TW', {
        year: 'numeric',
        month: 'long',
        day: 'numeric',
        weekday: 'short',
      })
    }
  </p>

  <hr />
  <article style="margin-top: 1rem;">
    {post.default}
  </article>
</Layout>
