---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="container" style="max-width: 720px; margin: 0 auto; padding: 2rem 1rem;">
    <h1>贊助頁面建構中 (・∀・)</h1>
    <p><b>現在還沒開放贊助入口喔，你難道已經迫不及待了嗎？</b></p>
    <p>目前我正在考慮要不要加上 GitHub Sponsors、Buy Me a Coffee、還是直接貼一張 QR Code。</p>
    <p>不過放心，不管你是想贊助還是只是想來看看，這頁遲早會打開的。</p>
    <p style="opacity:.8; font-style: italic;">※ 記得按 Ctrl+S 截圖當成「我是第一個來的人」證明喔。<br>
    至於是不是真的第一個……我也不知道，伺服器也不知道。</p>
  </main>
</Layout>
